#invoice{
  width:70px;
  text-align: center;
}

.invoice{
  text-align: center;
}

.column-VIP{
  width: 25px !important;
  text-align: center !important;
}
tr.type-aerovouchers {
  td.column-actions{
    display: flex;
    justify-content: end;
    padding-right: 20px;
    i:hover{
      color: #0073aa !important;
      cursor: pointer;

    }
  }
}